*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
}
a{
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
ul,ol{
    list-style: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* 导航栏整体部分 */
header{
    margin-bottom: 40px;
}
.topNavBar{
    z-index: 3;         /*导航栏的层级最高*/
    padding: 10px 0;    /*不定义左右边距是为了防止在width为100%的情况下内容溢出*/
    position: relative; /*与z-index、top、left配合使用，relative为元素预留位置*/
    top: 0;             /*置顶*/
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease-out, padding 0.3s ease-out;
}
.topNavBar-scroll{
    position: fixed;    /*使其脱离文档流。不为元素预留空间，通过指定元素相对于viewport的位置来指定元素位置。屏幕滚动时位置不变。*/
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.4);
    transition: background-color 0.3s ease-out, padding 0.3s ease-out;  /*多个效果需要放在同一行且用逗号隔开，若分两条css属性写，则前面的会被后面覆盖*/
}
.topNavText-scroll{
    color: #3d4451;
}
/* 为了使整个topNavBar脱离文档流，并解决其带来的不良后果，而添加的div */
header .topNavBar-inner{
    padding: 10px 16px;
}
/* LOGO */
header .logo{
    float: left;
    padding: 6px 0;
    font-size: 24px;
    font-family: "Segoe UI Black";
}
header .logo > .cjl{
    color: #E6686A;
    margin-right: 4px;
}
header .logo > .card{
    color: #9a9da2;
}
/* 导航栏 */
header nav{
    float: right;
    padding: 8px 0 4px 0;
}
header nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav > ul > li{
    float: left;
    margin-left: 17px;
}
header nav > ul > li:first-child{
    margin-left: 0;
}
header nav > ul > li > a{
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px;
    color: #ccc;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
    text-transform: uppercase;
}
header nav > ul > li > a:hover{
    border-bottom: 3px solid #E6686A;
    transition: border-bottom 0.2s ease-out;
}
/* 背景图 */
header .banner{
    z-index: 1;
    position: absolute;         /*不为元素预留空间，与top、left结合使用*/
    top: 0;                     /*置顶*/
    left: 0;
    right: 0;
    height: 515px;
    background-image: url(./images/wallhaven-557327.jpg);
    background-position: center center;
    background-size: cover;
}
header .banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.65);
}


.content{
    z-index: 2;
    position: relative;
    margin: 0 auto;
    max-width: 940px;
}
/* 名片 */
main{
    padding-top: 70px;          /*使得锚点定位时不会被导航栏覆盖内容*/
}
.userCard{
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.userCard .userCard-inner{
    padding: 50px 25px;
}
.userCard .picture{
    float: left;
    padding: 0 20px;
}
.userCard .profile-preword{
    margin-bottom: 8px;
}
.userCard .welcome{
    background-color: #E6686A;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    line-height: 20px;
    position: relative;
}
.userCard .welcome > .triangle{
    display: block;
    position: absolute;
    border: 4px solid #E6686A;
    width: 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 5px;
    top: 100%;
}
.userCard .text{
    float: left;
    padding: 0 20px;
    width: 57%;
}
.userCard .text > h1{
    margin: 22px 0 10px 0;
}
.userCard .text > hr{
    margin: 20px 0;
}
.userCard dl dt, .userCard dl dd{
    float: left;
    margin-bottom: 20px;
}
.userCard dl dt{
    width: 30%;
    font-weight: bold;
}
.userCard dl dd{
    width: 70%;
    color: #bbb;
}
.userCard > footer.media{
    background-color: #E6686A;
    text-align: center;
}
.userCard > footer.media svg{
    width: 30px;
    height: 30px;
}
.userCard > footer.media a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 12px 20px;
    border-radius: 50%;
    text-align: center;
}
.userCard > footer.media a:hover{
    background-color: #cf5d5f;
}

/* 下载简历 */
.downloadResume-wrapper{
    text-align: center;
}
.downloadResume-wrapper > .downloadResume{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 55px;
    border: 1px solid #cdcfd1;
    border-radius: 5px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px;
}
.downloadResume-wrapper > .downloadResume:hover{
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
}

/* 自我介绍 */
.selfIntroduction{
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
    line-height: 20px;
}

/* 技能 */
section.skills,
section.portfolio{
    max-width: 940px;
    margin: 0px auto;
    padding-top: 70px;
}
section.skills h2,
section.portfolio h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills > ol{
    padding: 20px 30px;
    max-width: 940px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
section.skills > ol > li{
    float: left;
    width: 50%;
    box-sizing: border-box;         /*使得即使添加了padding值也不会影响整体的宽度，即边框和内边距的值包含在width内*/
    padding: 20px;
}
section.skills .progressBar{
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin: 4px 0;
}
section.skills .progressBar > .progress{
    height: 100%;
    background-color: #E6686A;
    border-radius: 2px;
}

/* 作品集 */
section.portfolio{
    text-align: center;
}
section.portfolio > nav{
    text-align: center;
    display: inline-block;
    margin: 32px;
}
section.portfolio > nav > ol > li{
    float: left;
    cursor: pointer;
    margin: 0 5px;
}
section.portfolio > nav > ol > li:nth-child(2){
    margin: 0 50px;
}
section.portfolio > nav > .bar{
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    margin: 4px 0;
}
section.portfolio > nav > .bar > .bar-inner{
    height: 100%;
    background-color: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}
section.portfolio > nav > .bar > .bar-inner.state1{
    width: 42px;
    margin-left: 0;
}
section.portfolio > nav > .bar > .bar-inner.state2{
    width: 42px;
    margin-left: 87px;
}
section.portfolio > nav > .bar > .bar-inner.state3{
    width: 110px;
    margin-left: 174px;
}
section.protfolio > .works{
    max-width: 940px;
    border: 5px solid red;
}
section.portfolio > .works > .big{
    float: left;
    margin-right: 50px;
}
section.portfolio > .works > .small{
    float: left;
}

footer.footer{
    margin: 60px auto;
    text-align: center;
}
